body {
    margin: 0;
    /* background-image: url('./Images/body_background.png'); */
    background: linear-gradient(162deg, rgba(253,250,246,1) 0%, rgba(230,235,241,1) 50%, rgba(186,208,232,1) 100%);
    min-height: 100vh
}

/* .AppContainer {
    padding: 0 8px
} */