.Navbar-links {
    display: flex;
    flex-direction: row;
}

.Navbar-username {
    margin: 0 0.5rem;
    background: #14279B;
}

@media screen and (max-width: 480px) {
    .Navbar-buttons {
        margin: 0 0.5rem 0 0.5rem
    }
}