.HomeContainer {
    margin: 1rem 0;
    margin: 3rem 0;
    color: #eee;
}

.home-introduction {
    padding: 2rem;
    background: #1E5128;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.home-title {
    padding: 3rem 2rem;  
}

.home-info {
    margin: 1rem 0;
    padding: 2rem;
    background: #1c266a;
    /* background: #7d1d1d; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.home-title-info {
    padding: 0.5rem 1rem;
    padding-bottom: 2rem;
    line-height: 2;
}

.home-card-title {
    padding: 0.5rem 1rem;
    padding-bottom: 2rem;
}

.home-card-info {
    font-size: 100%;
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
}

.home-signin {
    margin: 1rem 0;
    padding: 2rem;
    background: #1c266a;
    /* background: #7d1d1d; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@media screen and (max-width: 480px) {
    .home-introduction {
        padding: 2rem;
    }
    
    .home-title {
        padding: 2rem 5rem;
    }
}